@font-face {
	font-family: 'c';
    src: url(img/cfont.ttf);
}

:root {
	--black: #000;
    --white: #fff;
	--defaultcolor: #FF8A65;
	--thumb-height: 1.125em;
	--track-height: 0.125em;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	height: 100vh;
	overflow-x: hidden;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

.outspace {
	display: none;
}

/*.userinfo {
	position: absolute;
	width: 100%;
	height: 15px;
	padding: 5px;
	z-index: 100;
	top: 8px;
}

.logouttxt {
	position: absolute;
	right: 20px;
	font-size: 1em;
	color: #fff;
	text-shadow: 0px 0px 6px #000000;
	cursor: pointer;
}

.usernametxt {
	position: absolute;
	left: 20px;
	font-size: 1em;
	color: #fff;
	text-shadow: 0px 0px 6px #000000;
}*/

.profile-containner {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 101;
}
.profile-containner .profile {
	position: relative;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0px 0px 6px #000000;
	overflow: hidden;
	cursor: pointer;
}
.profile-containner .profile img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.profile-containner .profile-menu {
	position: absolute;
	top: 90px;
	right: -10px;
	padding: 10px 20px;
	background-color: #000;
	width: 200px;
	box-sizing: 0 5px 25px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 6px #000000;
	border: 2px solid #fff;
	border-radius: 10px;
	transition: 0.4s;
	visibility: hidden;
	opacity: 0;
}
.profile-containner .profile-menu.active {
	top: 70px;
	visibility: visible;
	opacity: 1;
}
.profile-containner .profile-menu::before {
	content: '';
	position: absolute;
	top: -5px;
	right: 25px;
	width: 15px;
	height: 15px;
	border: 2px solid #fff;
	border-radius: 2px;
	background-color: #000;
	transform: rotate(45deg);
}
.profile-containner .profile-menu::after {
	content: '';
	position: absolute;
	top: 0px;
	right: 15px;
	width: 40px;
	height: 20px;
	background-color: rgb(0, 0, 0);
}
.profile-containner .profile-menu .profile-title {
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding: 8px 0;
	z-index: 20000;
	font-weight: 500;
	color: #fff;
	line-height: 1.2em;
	overflow: hidden;
}
.profile-containner .profile-menu .profile-title span {
	font-size: 14px;
	color: #888;
	font-weight: 400;
}
.profile-containner .profile-menu .profile-menu-box {
	padding: 0;
	margin: 0;
}
.profile-containner .profile-menu .profile-menu-box .fa-circle-user,
.profile-containner .profile-menu .profile-menu-box .fa-user,
.profile-containner .profile-menu .profile-menu-box .fa-arrow-right-from-bracket {
	margin-right: 5px;
}
.profile-containner .profile-menu .profile-menu-box li {
	color: #fff;
	list-style: none;
	padding: 8px 4px;
	cursor: pointer;
	direction: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}
.profile-containner .profile-menu .profile-menu-box li:hover {
	opacity: 0.5;
}
.profile-containner .profile-menu .profile-menu-box .profile-out {
	color: #ea4545;
}

.profilePicCont {
  position: fixed;
  display: none;
  opacity: 0;
  z-index: 10000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  overflow-x: hidden;
  transition: 0.2s;
}

.profilePicCont.show {
  opacity: 1;
}

.profilePic-content {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
	margin: auto;
	margin-top: -50px;
	padding: 10px 10px;
	border: 2px solid #888;
	border-radius: 5px;
	max-width: 500px;
	max-height: 650px;
	width: auto;
	height: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: center;
}

.profilePic-content::-webkit-scrollbar {
	display: none;
}

.profilePicCloseBtn {
	position: absolute;
	color: #dddddd;
	top: 10px;
	right: 10px;
	width: 9.5px;
	height: 9.5px;
	padding: 5px 5px;
	border-radius: 50%;
	font-size: 20px;
	z-index: 10;
	cursor: pointer;
}

.shortcut-xmark {
	position: absolute;
	top: 1px;
	left: 4px;
}

.profilePicImage {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
}

.sideNav {
  height: 100%;
  width: 250px;
  position: fixed;
  display: none;
  z-index: 1000;
  top: 0;
  right: -250px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 0 8px 0 #000000;
}

.sideNav.show {
    right: 0;
}

.sideNav .navLink,
.sideNav .closeBtn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.navLink.active {
	color: #f1f1f1;
}

.sideNav .navLink:hover,
.sideNav .closeBtn:hover {
  color: #f1f1f1;
}

.sideNav .closeBtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-top: 20px;
  padding: 0px 10px;
}

.sideNavBg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.3s;
	display: none;
}

.sideNavBg.show {
	background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 450px) {
  .sideNav {
      width: 100%;
      right: -100%;
  }
  
  .sideNav.show {
      right: 0;
  }

  .sideNav .navLink,
  .sideNav .closeBtn {
    font-size: 35px;
  }
}

.modal {
  /* display: block; */
  display: none;
  position: fixed;
  z-index: 1100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: rgb(0,0,0);
}

.modal-content {
  background-color: #000;
  margin: auto;
  margin-top: -50px;
  padding: 20px;
  border: 2px solid #888;
  border-radius: 5px;
  width: 80%;
  height: auto;
}

.genreLink {
	font-size: 1.5em;
	cursor: pointer;
	color: #eeeeee;
	opacity: 0.5;
	transition: 0.3s;
}

.genreTitle,
.genreTxt {
	color: #eeeeee;
}

.genreLink:hover {
	opacity: 1;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  margin-top: -5px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#track_image_bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: fixed;
	filter: blur(5px);
}
.main{
	position: relative;
	width: 1284px;
	/*height: 726px;*/
	height: 684px;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background: linear-gradient(to right, #5D6D7E, #566573);*/
	background-color: rgba(0, 0, 0, 0.9);
	border: 2px solid #fff;
	border-radius: 10px;
}
.bottomspace {
	display: none;
}
/*.main button{
	padding: 10px 12px;
	margin: 0 10px;
}*/
.main #logo{
	position: absolute;
	top: 12px;
	left: 15px;
	font-size: 25px;
	color: #ccc;
	z-index: 10;
}
.main #logo i{
	margin-right: 15px;
	transition: 0.2s;
}

.main #logo i:hover{
	color: var(--defaultcolor);
	cursor: pointer;
}

@media screen and (max-width: 450px) {
  .main #logo{
	font-size: 22px;
  }
}

/* left & right part */
.right,.left{
	position: relative;
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* song image */
.left img{
	height: 300px;
	width: 300px;
	border-radius: 5px;
	/*box-shadow: 1px 0px 20px 12px rgba(240,240,240,0.2);*/
	z-index: 2;
}

.left .track_image_under {
	position: absolute;
	height: 300px;
	width: 300px;
	border-radius: 0px;
	filter: blur(15px);
	z-index: 1;
}

/* both range slider part */
input[type="range"] {
	color: var(--defaultcolor);
	--thumb-height: 1.125em;
	--track-height: 0.225em;
	--track-color: rgba(92, 92, 92, 0.2);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

input[type="range"] {
	position: relative;
	background: #fff0;
	overflow: hidden;
}
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;
	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));
	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}
.right input[type=range]{
	width: 75%;
}
.left input[type=range]{
	width: 50%;
}

/* volume part */
.left .volume{
	position: absolute;
	bottom: 10%;
	left: 0;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.left .volume p{
	font-size: 15px;
}
.left .volume i{
	cursor: pointer;
	padding: 8px 12px;
	margin: 0 10px 0 0;
	background: var(--defaultcolor);
	border: 1px solid var(--defaultcolor);
	border-radius: 2px;
	transition: 0.2s;
}
.left .volume i:hover{
	background: rgba(245,245,245,0.1);
}
.volume #volume_show{
	padding: 8px 12px;
	background: rgba(245,245,245,0.1);
	border: 1px solid white;
	border-radius: 2px;
	margin: 0 0 0 10px;
}



/* right part */
.right .middle{
 	width: auto;
    display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}
.right .middle button{
	border: none;
	height: 50px;
	width: 50px;
	border-radius: 50%;	
    display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
}
.right #title{
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	text-transform: capitalize;
	color: #fff;
	font-size: 35px;
	transition: 0.2s;
}
.right #artist{
	position: absolute;
	top: 110px;
	left: 50%;
	text-align: center;
	transform: translateX(-50%);
	text-transform: capitalize;
	color: #fff;
	font-size: 18px;
}
.txtbx {
	display: none;
	position: relative;
	text-align: center;
	color: #fff;
}
.time {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 5px;
	padding: 14px 10px;
	background: rgba(255,255,255,0.2);
	outline: none;
	border-radius: 5px;
}
.right .duration{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20px;
	margin-top: 40px;
}
.right .duration p{
	color: #fff;
	font-size: 15px;
	margin-left: 20px;
}
.right #auto{
	font-size: 18px;
	cursor: pointer;
	margin-top: 20px;
	border: none;
	padding: 10px 14px;
	color: #fff;
	background: rgba(255,255,255,0.2);
	outline: none;
	border-radius: 8px;
	transition: 0.3s;
}
.right #auto i{
	margin-left: 8px;
}
#play {
	background-color: #fff;
	color: #636363;
}
#pre,
#next {
	background: rgba(255,255,255,0);
	color: #fff;
}
#play,
#pre,
#next {
	margin: 10px 10px;
	opacity: 1;
	font-size: 25px;
}
#play:hover,
#pre:hover,
#next:hover {
	opacity: 0.6;
	transition: 0.2s;
}
.sicon:before{
	font-size: 20px;
}

.karaokeContainner {
	background: rgba(255,255,255,0.2);
	border-radius: 5px;
	margin: 10px 0;
	display: flex;
}

.karaokeBtn {
	cursor: pointer;
	border: none;
	color: #fff;
	outline: none;
	background: none;
	transition: 0.3s;
	padding: 8px 15px;
	transition: 0.3s;
}

.karaokeBtn:hover {
	background-color: var(--defaultcolor);
}

#karaokeLyrics {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#karaokeOnOff {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.karaokeLine {
	height: 28.8px;
	width: 1px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.5);
	top: 50%;
	transform: translateY(12%);
}

/*.right button:hover{
	background: var(--defaultcolor);
}*/

.show_song_no{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: #fff;
  border-radius: 5px;
  background: rgba(255,255,255,0.2);
}
.show_song_no p:nth-child(2){
	margin: 0 5px;
}

.keyboardShort {
  position: fixed;
  display: none;
  opacity: 0;
  z-index: 10000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  overflow-x: hidden;
  transition: 0.2s;
}

.keyboardShort.show {
  opacity: 1;
}

.keyboardShort-content {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
	margin: auto;
	margin-top: -50px;
	padding: 20px;
	border: 2px solid #888;
	border-radius: 5px;
	max-width: 500px;
	max-height: 650px;
	width: 80%;
	height: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}

.keyboardShort-content::-webkit-scrollbar {
	display: none;
}

.keyboardShortTxt {
	font-family: 'c';
	font-size: 1em;
	color: #dddddd;
}

.keyboardShortTitle {
	font-family: 'c';
	font-size: 1.2em;
	color: #dddddd;
}

.shortcutHr {
	border: 1px solid #dddddd7a;
	border-radius: 1px;
}

.shortRight {
	float: right;
	padding-right: 10px;
}

.shortLeft {
	float: left;
	padding-left: 10px;
}

.keyboardShortCloseBtn {
	position: absolute;
	color: #dddddd;
	top: 10px;
	right: 10px;
	width: 9.5px;
	height: 9.5px;
	padding: 5px 5px;
	border-radius: 50%;
	font-size: 20px;
	z-index: 10;
	cursor: pointer;
}

.shortcut-xmark {
	position: absolute;
	top: 1px;
	left: 4px;
}

@media screen and (max-width: 1600px) {
	.main {
		width: 80%;
	}
}
@media screen and (max-height: 850px) {
	.main {
		height: 80%;
	}
}
@media screen and (max-width: 1372px) {
	.right #title {
		font-size: 23px;
		top: 80px;
		text-align: center;
	}
}
@media screen and (max-width: 980px) {
	body {
		align-items: unset;
	}
	.main {
		position: relative;
		height: 775px;
		/*height: 100%;*/
		margin-top: 90px;
		display: flex;
		flex-flow: row wrap;
		padding-top: 60px;
	}
	.right,.left {
		position: relative;
		height: auto;
		width: 100%;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.txtbx {
		display: block;
	}
	.title {
		color: #fff;
		font-size: 25px;
		margin-bottom: 5px;
	}
	.artist {
		color: #fff;
	}
	.right #title {
		display: none;

	}
	.right #artist {
		display: none;
	}
	.time {
		position: relative;
		width: 75px;
		margin-top: 10px;
	}
	.right .middle {
		margin-top: 20px;
	}
	.right #auto {
		margin-top: 25px;
	}
	.karaokeContainner {
		margin-bottom: 0px;
	}
	.right .dt {
		position: relative;
		width: 100%;
	}
	.right .duration {
		position: relative;
	}
	.right input[type=range]{
		width: 75%;
	}
	#duration_slider {
		width: 75%;
		margin-top: -70px;
	}
	.left img {
		position: relative;
		margin: 20px;
	}
	.left .volume{
		position: relative;
		margin-bottom: 20px;
	}
	.outspace {
		width: 100%;
		height: 5px;
		margin-top: 40px;
		display: block;
	}
	.keyboardShort-content {
		height: 500px;
	}
	.profilePicCont-content {
		padding: 10px 20px;
	}
	.bottomspace {
		position: relative;
		height: 50px;
		width: 100%;
		display: block;
	}
}
@media screen and (max-width: 435px) {
	.left img {
		width: 90%;
		height: auto;
	}
	.left .track_image_under {
		width: 90%;
		height: auto;
	}
	.keyboardShortTxt {
		font-size: 0.9em;
	}
}